@import url('https://fonts.google.com/specimen/Rubik');

*{
    margin:0;
    padding:0;
}
/* 
- Moderate blue: hsl(238, 40%, 52%)
- Soft Red: hsl(358, 79%, 66%)
- Light grayish blue: hsl(239, 57%, 85%)
- Pale red: hsl(357, 100%, 86%)

### Neutral

- Dark blue: hsl(212, 24%, 26%)
- Grayish Blue: hsl(211, 10%, 45%)
- Light gray: hsl(223, 19%, 93%)
- Very light gray: hsl(228, 33%, 97%)
- White: hsl(0, 0%, 100%)
 */

:root{
    --Darkblue:hsl(212, 24%, 26%);
    --PaleRed:hsl(357, 100%, 86%);
    --SoftRed: hsl(358, 79%, 66%);
    --LightGrayish: hsl(239, 57%, 85%);
    --blue: hsl(238, 40%, 52%);
    --white:#fff;
    --LightGray: hsl(223, 19%, 93%);
    --GrayishBlue: hsl(211, 10%, 45%);
    --VaryLightGray: hsl(228, 33%, 97%);
}



body{
    background-color: var(--LightGray);
    font-family: 'Rubik',"Arial";
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    font-size: 16px ;
    width:100vw;
    height: 100vh;
    overflow-x: hidden ;
    overflow-y: auto;

}

.container{
    width:50%;
    /* overflow: inherit; */
}

.comment-container{
    margin-bottom: 1rem;
}

.comment {
    max-height:200px;
    width: min(480px,90%) ;
    background-color:var(--white) ;
    border-radius: 5px;
    padding:1rem;
    display: flex;
    /* margin-bottom: 1rem; */
}
.comment .counters{
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: var(--LightGray);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-right:1rem;
    padding:.5rem;
    font-size: 16px ;

}

.comment .counters .operator{
    cursor: pointer;
    color:var(--GrayishBlue) ;
}

.comment .counters .operator:hover{
   color:var(--blue);
}

.comment .head {
    display: flex;
    justify-content: space-between;
user-select: none;
}

.comment .head .profile-info{
    display: flex;
align-items: center;
margin-left: .4rem;
gap: .2rem;
}
.comment .head img{
    width:30px;
    height:30px;
    background-color: #eee;
    border-radius: 50%;
    object-fit: cover;
}
.comment .head .profile-info .history{
    color:var(--Darkblue);
}

.comment .head .btn-reply{
    color:var(--blue);
    cursor: pointer;
}
.comment .head .btn-delete{
    color:var(--SoftRed);
    cursor: pointer;
    margin-right: .7rem;
}
.comment .head .btn-edit{
    color:var(--blue);
    cursor: pointer;
}
.comment .head .btn-cancel{
    color:var(--SoftRed);
    cursor: pointer;
}

.hidden{
    display: none;
}

.btn-edit:hover,.btn-delete:hover,.btn-reply:hover{
    opacity: .4;
}



.comments-reply{
    position: relative;
    left:20px;

    display: flex;
    flex-direction: column;
    border-left:1px solid var(--blue);
    padding-left: 3rem;
    margin-top:.5rem;

}

.comments-reply .comment{
    margin-top:.3rem;
}



.input-container{
    display: flex;
    align-items: flex-start;
    background-color: var(--white);
    padding: 1rem;
    gap:.8rem;
    border-radius: 5px;
    margin-top: .5rem;
}

.input-container textarea{
    flex:1;
    outline:none;
    color:var(--blue);
    border:var(--blue) solid 1px;
    resize: none;
}

.input-container img{
    width:50px;
    height:50px;
    background-color: var(--LightGray);
    border-radius: 50%;
}

.input-container .btn{
    border:none;
    background-color: var(--blue);
    padding:.6rem 1rem;
    color:var(--white);

}

.input-container .btn:hover{
    opacity: .8;
}


@media (max-width:850px){
   /* .comment */
   .container{
    width: 100%;
   }
   .comments-reply{
    left:8px;
    padding-left: .4rem;
   width:calc(100% - 20px);
    
   }

   .comment {
    flex-direction: column-reverse;
    position: relative;
   }
    .comment .counters{
        align-self: flex-start;
        flex-direction: row;
        padding:.5rem .9rem;
        width:50px;
        margin-top:1rem;
        justify-content: space-between;
    }

    .comment .actions{
        position: absolute;
        bottom:20px;
        right:10px;

    }

    .input-container{
        flex-direction: column;
        position: relative;
    }
    .input-container textarea{
        width: 100%;
        order:-1;
    }
    .input-container button{
        position: absolute;
        right:20px;
        bottom:20px;
    }


}